/* header */

header {
    /* height: 90vh; */
    width: 100%;
}

/* header top bar */

section.banner {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

div.banner {
    padding: 0px 20px;
    display: flex;
    align-items: center;
    gap: 30px;
}

a.nodeco {
    text-decoration: none;
}

.button-blue {
    padding: 10px;
    color: white;
    background-color: #0093CE;
}

/* header jumbo */

section.jumbo {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b4d0e7;
}

/* actual jumbo container */

div.jumbo {
    height: 95%;
    width: 70%;
}

/* jumbo top part */

div.jumbo-top {
    height: 30%;
}

h1.slogan {
    font-size: 80px;
    padding: 50px 0px;
}

/* jumbo bottom part */

div.jumbo-text-image {
    height: 70%;
    width: 100%;
    display: flex;
    position: relative;
}

/* jumbo p */

.jumbo-text {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 30%;
}

.jumbo-p {
    font-size: 18px;
}

a.jumbo {
    text-decoration: none;
    font-weight: bold;
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* jumbo img */

div.jumbo-img {
    width: 80%;
    height: 130%;
    content: url(../img/jumbo.png);
    object-fit: scale-down;
    position: absolute;
    top: -25px;
    right: -130px;
}