/* header */

header {
    /* height: 90vh; */
    width: 100%;
}

/* header top bar */

nav.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

ul.banner {
    padding: 0px 20px;
    display: flex;
    align-items: center;
    gap: 30px;
}

a.nodeco {
    text-decoration: none;
}

.banner-button {
    margin: 20px 0px;
}

.banner-button:hover {
    border-bottom: 2px solid black;
    cursor: pointer;   
}

/* dropdown */

li {
    display: block;
    transition-duration: 0.5s;
}

li:hover {
    cursor: pointer;
}

ul.banner li {
    position: relative;
}

ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    display: none;
    background-color: white;
}

ul li ul li{
    text-align: center;
    padding: 10px 20px;
}

ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
}

/* header jumbo */

section.jumbo {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b4d0e7;
}

/* actual jumbo container */

div.jumbo {
    height: 95%;
    width: 70%;
    margin-top: 100px;
}

/* jumbo top part */

div.jumbo-top {
    height: 30%;
}

h1.slogan {
    font-size: 80px;
    padding: 50px 0px;
}

/* jumbo bottom part */

div.jumbo-text-image {
    height: 70%;
    width: 100%;
    display: flex;
    position: relative;
}

/* jumbo p */

.jumbo-text {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 30%;
}

.jumbo-p {
    font-size: 18px;
}

a.jumbo {
    text-decoration: none;
    font-weight: bold;
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* jumbo img */

div.jumbo-img {
    width: 80%;
    height: 130%;
    content: url(../img/jumbo.png);
    object-fit: scale-down;
    position: absolute;
    top: -25px;
    right: -130px;
}