/* main */

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

/* utils */

.main-button {
    width: 100%;
    text-align: center;
}

/* plan section */

section.plan-container {
    width: 60%;
    margin-top: 50px;
}

#plan-container {
    margin-top: 200px;
}

/* plan h1 */

.main-h1 > h1 {
    font-size: 40px;
    padding-bottom: 50px;
}

/* plan radiobuttons */

.plan-radio {
    padding-bottom: 40px;
}

input [type="radio"] {
    height: 20px;
    width: 20px;
    padding: 5px;
}

.plan-radio > label {
    padding-right: 50px;
}

.plan-radio > input:checked {
    background-color: #2196F3;
}

/* plan list */

.plan-plans {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.plan {
    width: 30%;
    padding-bottom: 20px;
}

.plan-type {
    text-align: center;
    padding: 10px 0px;
    border: 1px solid lightgray;
}

div.plan-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 30px;
    border: 1px solid lightgray;
    border-top: none;
    height: 100%;
}

div.plan-desc > a {
    margin-top: 40px;
    margin-bottom: 20px;      
}

span.plan-desc {
    color: gray;
    padding-bottom: 40px;
    font-size: 22px;
}

.border-bottom-gray {
    border-bottom: 1px solid lightgray;
    padding-bottom: 40px;
}

.buy-now {
    padding-bottom: 40px;
}

.plan-list {
    list-style-type: none;
}

ul li {
    margin-bottom: 20px;
}

/* plan enterprise extra box */

.plan-enterprise-extra {
    margin-top: 40px;
}

.extra {
    display: flex;
}

.extra > .plan-desc{
    width: 70%;
}

.extra > .right {
    width: 30%;
    padding: 30px;
    border: 1px solid lightgray;
    border-left: none;
    border-top: none;
    margin: 0 auto;
}

.extra-button {
    display: block;
    width: 100%;
}

/* partner section */

section.partner {
    width: 60%;
    height: 70vh;
    display: flex;
}

div.partner-img {
    width: 60%;
    content: url(../img/partner.png);
    object-fit: cover;
}

div.partner-text {
    padding: 70px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button-white {
    padding: 10px 20px;
    border: 1px solid black;
    color: black;
}

/* business */

section.business {
    width: 60%;
    margin-top: 50px;
}

div.business-container {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

div.business-element {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* partnerships */

section.partnerships-promo {
    width: 100%;
    height: 140vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* partnerships text */

.partnerships-text {
    padding-top: 100px;
    width: 60%;
    height: 30%;
}

.partnerships-title {
    width: 60%;
}

/*  partnership logo image carousel  */

.carousel {
    width: 100%;
    height: 45%;
    background-color: darkblue;
}

/* free trial */

.free-trial {
    width: 100%;
    height: 25%;
    background-color: lightblue;
}

/* faq */

section.faq {
    width: 60%;
    height: 70vh;
    background-color: cadetblue;
    margin-bottom: 50px;
}