/* main */

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: lemonchiffon;
}

/* plan section */

section.plan {
    width: 70%;
    height: 150vh;
    background-color: red;
    margin-top: 50px;
}

/* partner section */

section.partner {
    width: 70%;
    height: 70vh;
    background-color: blue;
}

/* business */

section.business {
    width: 70%;
    height: 110vh;
    background-color: cornflowerblue;
}

/* partnerships */

section.partnerships-promo {
    width: 100%;
    height: 140vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* partnerships text */

.partnerships-text {
    width: 70%;
    height: 30%;
    background-color: green;
}

/*  partnership logo image carousel  */

.carousel {
    width: 100%;
    height: 45%;
    background-color: darkblue;
}

/* free trial */

.free-trial {
    width: 100%;
    height: 25%;
    background-color: lightblue;
}

/* faq */

section.faq {
    width: 70%;
    height: 70vh;
    background-color: cadetblue;
    margin-bottom: 50px;
}